.clothing-section {
  width: 100%;
  position:relative;
  border-radius: 3px;
  background: white ;
  height: 80%;
}

.clothes-list {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.description {
    font-size: 0.8em;
}

.ClothingItem {
    width: 200px;
    margin-bottom: 40px;
}
