<header>
  <h1> Probable Umbrella </h1>
  <h2> {{pageTitle}} </h2>
</header>

<div class = "navbar">
  <a href="/autoWeather" style="text-decoration: none;"> AutoLocate </a>
  <a href="/addressWeather" style="text-decoration: none;"> Enter Address </a>
  <a href="/manualWeather" style="text-decoration: none;"> Enter Weather </a>
</div>

