<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/weatherRecommended.js"></script>
  <link rel="shortcut icon" href="">
</head>
<body>
  {{>header}}


 

  <h2> What to Wear? </h2>

  <div id="pageInfo"> 
    <div>Use the sliders below to change weather settings</div>
  </div>

  <div class="container" > 

  <form id="weather-form" onchange="weatherFormUpdate()">
  <div class="weather_s">
    <div> Temperature: <span id="temperatureInfo">  Not set </span><input type="range" min="-40" max="70" value=15 id="temperature"/>   </div>
    <div>  Precipitation: <span id="precipitationInfo"> Not set </span> <input type="range" min="0" max="100" value=0 id="precipitation"/> </div>
    <div>  UV index: <span id="uvIndexInfo"> Not set </span> <input type="range" min="0" max="15" value=0 id="uvIndex"/> </div>
  </div>
  </form>
  <div class="recommended" >
    <div id="recommended_summary" ></div>
  </div>


  <div id="outfit"></div>

  </div>

  <script type="text/javascript">

  var weatherFormUpdate = () => {
    var weatherForm = document.getElementById('weather-form');
    var temperature = weatherForm.temperature.value;
    var precipitation = weatherForm.precipitation.value;
    var uvIndex = weatherForm.uvIndex.value;

    document.getElementById('temperatureInfo').innerHTML = temperature + "&#176 degrees";
    document.getElementById('precipitationInfo').innerHTML = precipitation + "%";
    document.getElementById('uvIndexInfo').innerHTML = uvIndex;

    weatherRecommended(temperature, precipitation, uvIndex);
  };
  


 </script>

  {{>footer}}



</body>
</html>