<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  {{>header}}


  <form>
    <input type="text" placeholder=" Enter Address " name="address"/>
    <input type="submit" value="GO"/>
  </form>
  

  {{>footer}}
</body>
</html>