<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  {{>header}}
  <div class="container">
    <h3> No more getting caught in the rain wearing your summer outfit. </h3>
    <h3> This weather app lets you know what to wear whatever the weather </h3>

    <div class="button"> 
      <div> <a href="/autoWeather"> <img src="/lib/location.jpg" > Your Location </img></a></div>
      <div> <a href="/addressWeather"> <img src="/lib/home.png" > Enter Address </img>  </a></div>
      <div> <a href="/manualWeather"> <img src="/lib/weather.jpg"> Enter Weather </img>  </a></div>
    </div>

  </div>

  {{>footer}}
</body>
</html>