.Header {
  color: rgba(102, 51, 153, 0.67);
  margin-bottom: 1.45rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;

  .Title {
    width: 100%;
    margin: auto;
    .Link {
      width: 100%;
      text-align: center;
      text-decoration: none;
      margin:auto;

    }
  }
}